.ObservationList .loading-screen {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}

.ObservationList .loading-screen.active {
  display: block;
  opacity: .7;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loading {
    0%   {background-color: #ffffff;}
    100%   {background-color: #666666;}
}

.ObservationList .loading-screen p {
  margin: 5em auto;
  font-size: 3em;
}
